:root {
  --font-family: "Inter", sans-serif;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #6880ff;
  --color-primary-Hover: #7c91ff;
  --color-link: #7b61ff;
  --color-link-Hover: #7c91ff;
}

body {
  background-color: var(--color-black);
}

body{
    font-family: var(--font-family);
    color: var(--color-white);
}